<?xml version="1.0" encoding="UTF-8"?>
<Settings>
	<Colors>
		<Color name="ffColor1" value="#858687"/>
		<Color name="ffColor2" value="#F6F8F3"/>
		<Color name="ffColor3" value="#BCD4B9"/>
		<Color name="ffColor4" value="lightgreen"/>
		<Color name="ffColor5" value="darkgreen"/>
		<Color name="ffColor6" value="lightgray"/>
		<Color name="ffColor7" value="#606365"/>
		<Color name="ffColor8" value="#57585C"/>
		<Color name="ffColor9" value="#BABCB9"/>
		<Color name="ffColor10" value="#92B772"/>
		<Color name="ffColor11" value="#DADFDB"/>
		<Color name="ffColor12" value="orange"/>
		<Color name="ffColor13" value="transparent"/>
		<Color name="ffColor14" value="#9B5A3C"/>
		<Color name="ffColor15" value="red"/>
		<Color name="ffColor16" value="white"/>
		<Color name="ffColor17" value="#C8DBC7"/>
		<Color name="ffColor18" value="#E1D9C6"/>
		<Color name="ffColor19" value="#BABBAB"/>
	</Colors>
</Settings>
